# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/
ENV/
ai/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# LangGraph Images
*.png

# Temporary Files
*.tmp
*.bak

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/